.counter-container{
    border: 1px solid;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(192, 192, 192);    
    margin: 0.5 0.5 0.5rem;
}

.counter-title {
    color: darkblue;
}

.value {
    font-size: xx-large;
    font-weight: bold;
    margin: 0 0.5rem;
}